@model Helpa.Job

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTiltle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTiltle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HelperType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HelperType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobLocation.JobLocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobLocation.JobLocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobPrice.RowStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPrice.RowStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTime.JobTimeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTime.JobTimeId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
       
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
